esphome:
  name: sprinkler-1
  friendly_name: "Sprinkler"
  on_boot:
    priority: 1000
    then:
      - output.turn_off: relay_pin
      - lambda: 'id(sprinkler_logic_switch).publish_state(false);'

esp32:
  board: esp32-c3-devkitm-1

wifi:
  ssid: "SSID"
  password: "Pass"
  ap:
    ssid: "Sprinkler Fallback"

captive_portal:
api:
ota:
  platform: esphome

output:
  - platform: gpio
    pin: 
      number: 8
      mode:
        output: true
        open_drain: true
    id: relay_pin
    # This ensures "Off" in software = "Off" at the pump
    inverted: false 

number:
  - platform: template
    name: "Watering Duration"
    id: water_duration
    optimistic: true
    min_value: 3
    max_value: 12
    step: 1
    initial_value: 3
    unit_of_measurement: "sec"
    icon: "mdi:timer-sand"
    mode: slider

switch:
  - platform: template
    name: "Sprinkler Switch"
    id: sprinkler_logic_switch
    icon: "mdi:water-pump"
    turn_on_action:
      - script.execute: water_cycle_script
    turn_off_action:
      - script.stop: water_cycle_script
      - output.turn_off: relay_pin
      - lambda: 'id(sprinkler_logic_switch).publish_state(false);'

script:
  - id: water_cycle_script
    # 'single' ignores new commands while the script is already running
    mode: single 
    then:
      - output.turn_on: relay_pin
      - lambda: 'id(sprinkler_logic_switch).publish_state(true);'
      - delay: !lambda "return id(water_duration).state * 1000;"
      - output.turn_off: relay_pin
      - lambda: 'id(sprinkler_logic_switch).publish_state(false);'
